body {
  background-color: bisque;
}

.designers {
  display: flex;
  background-color: black;
  gap: 0.5rem;
  font-size: 16px;  
  margin-top: 32rem;
}

.name {
  font-size: 16px;
  padding: 0;
  margin-bottom: 12px;
  text-align: center;
  color: #f5f5f5;
}