body {
  background-color: bisque;
  padding: 0%;
  margin: 0%;
}

.header {
  background-color: red;
  margin-top: -3%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 1% 4%;
  font-size: 2rem;
}

/* styling for pop up window */

.popup {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
}

.popImage {
  width: 60%;
  height: 75%;
  padding-top: 30px;
}

.content {
  background-color: whitesmoke;
  width: 90%;
  margin: 0 auto;
  height: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.part {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cancel {
  margin-top: 15%;
  padding-left: 90%;
}

.namepop {
  font-size: 60px;
}

#logo {
  height: 60px;
}

.designers {
  display: flex;
  background-color: black;
  gap: 0.5rem;
  font-size: 16px;
  margin-top: 32rem;
}

.name {
  font-size: 16px;
  padding: 0;
  margin-bottom: 12px;
  text-align: center;
  color: #f5f5f5;
}
